@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    font-size: 20px;
}

li{
    list-style: none;
    margin-right: 25px;
}

#primero{
    font-size: 30px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.lista{
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}

#blog{
    background: #F9FAFC;
    padding-top: 50px;
}

.contenedor-publicaciones {
    display: flex;
    justify-content: space-around;
}

.contenedor h3{
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 20px;
}

.publicacion{
    width: 30%;
    box-shadow: 1px 1px 14px #ccc;
}

#blog img{
    width: 100%;
}